*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* defines what 1 rem is, 1rem = 10px , 16/10=62.5 (16px = default size)*/

/*in media-querys we use em's, 1em= 16px*/

html {
  /* font-size: 10px; */
  font-size: 62.5%;

  // @include respond(phone) {
  //   font-size: 50%;
  // } we dont need this one

  //order of landscape/portrait always in this order, for example 700px will apply to both of them and then it will use the last one in order (in this case 900, wich is what we want).
  @include respond(tab-land) {
    //width < 1200?
    font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
  }
  @include respond(tab-port) {
    //width < 900?
    font-size: 50%; //1rem = 8px; 8px/16px = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px; 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

//when user select text
::selection {
  background-color: $color-primary;
  color: $color-white;
}
